alembic
fastapi
uvicorn[standard]==0.20.0
python-dotenv
pydantic-settings
sqlalchemy
pymysql
python-jose[cryptography]
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.2.1
pytz
requests
pydantic[email]
weasyprint
jinja2
Pillow